*{
    box-sizing: border-box;
   
}
body{
    height: 100vh;
}

.button-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px;
    
}

img{
    max-width:500px;
    border-radius: 50%;
}

button{
    border-radius: 50%;
}

.body-container{
    display: flex;
    flex-wrap: wrap;
}

.button-container{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:opacity 400ms ease;
    
}

.button-text{
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 30px;
    margin: 90px;
    margin-bottom: 20px;
}


.body-container:hover > .button-container {
opacity: 0.3;
}


.body-container:hover > .button-container:hover {
    opacity: 1;
}
    
.winCount{
    display: flex;
    margin-top: 0px;
}
.winCount-content{
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    
}

#reset{
    border-radius: 7%;
    width: 200px;
    height: 50px;
}
